@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto:wght@300&display=swap');

html{ 
    background-color: pink;
    font-family: 'Noto Sans Display', sans-serif;
}

body{
    font-size: 18px;
}
